<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add New Listings</h1>
    <form method="post" action="/listings">
      <input
        type="text"
        name="listing[title]"
        placeholder="enter title here"
        id=""
      />
      <br />
      <textarea
        name="listing[description]"
        placeholder="enter description"
        cols="20"
        rows="5"
      ></textarea>
      <br />
      <input
        type="text"
        name="listing[image]"
        placeholder="enter image url"
        id=""
      />
      <br />
      <input
        type="number"
        name="listing[price]"
        placeholder="enter price"
        id=""
      />
      <br />
      <input
        type="text"
        name="listing[location]"
        placeholder="enter title location"
        id=""
      />
      <br />
      <input
        type="text"
        name="listing[country]"
        placeholder="enter title country"
        id=""
      />
      <br />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
